QWidget
{
    font-family: "Verdana";
}
QTreeView
{
    selection-color: rgb(68, 136, 204);
    selection-background-color: transparent;
    outline: 0;
    font-size: 12px;
    icon-size: 18px;
    font-family: "Verdana";
    background: #313131;
}

QTreeView::item
{
    border: none;
    height: 21px;
}

QTreeView QLineEdit
{
    font-size: 12px;
    border: 2px solid rgb(77, 117, 144);
    border-radius: 3px;
    padding: 0 2px;
    selection-background-color: rgb(81, 81, 81);
    font-family: "Verdana";
}

QMenu
{
    background: rgba(31, 31, 31, 75%);
    color: rgb(255, 255, 255);
    /*border-radius: 10px;*/
    border-top-left-radius: 0;
    border: 1px solid rgb(88, 156, 224);
}

QMenu::item
{
    height: 25px;
    margin: 0px 24px 2px 10px;
    font-size: 9pt;
}

QMenu::item:selected
{
    color: rgb(88, 156, 224);
}

QMenu::separator
{
    background: rgb(77, 117, 144);
    height: 1px;
    font-size:10pt;
    margin-left: 5px;
    margin-right: 5px;
}

QFrame#line
{
    background: rgb(150, 150, 150);
}

QMenu::section
{
    font-size:10px;
    height: 10px;
}

QLabel
{
    color: rgb(150, 150, 150);
    background: transparent;
    font-size: 8pt;
}

QHeaderView
{
    background: #313131;
    color: transparent;
}

QSlider::groove:horizontal {
    background: transparent;
    height: 8px;
    border-radius: 4px;
}

QSlider::sub-page:horizontal {
    background: rgb(200, 200, 200);
    height: 8px;
    border-radius: 4px;
}

QSlider::add-page:horizontal {
    background: rgb(200, 200, 200);
    height: 8px;
    border-radius: 4px;
}

QSlider::handle:horizontal {
    background: rgb(100, 100, 100);
    width: 8px;
    margin-top: -4px;
    margin-bottom: -4px;
    border-radius: 3px;
}

QSlider::handle:horizontal:hover {
    background: rgb(120, 120, 120);
    border-radius: 3px;
}

QSlider::sub-page:horizontal:disabled {
    background: rgb(100, 100, 100);
}

QSlider::add-page:horizontal:disabled {
    background: rgb(100, 100, 100);
}

QSlider::handle:horizontal:disabled {
    background: rgb(68, 68, 68);
}