QWidget
{
    font-family: "Verdana";
}

QTreeView
{
    selection-color: rgb(68, 136, 204);
    selection-background-color: transparent;
    outline: 0;
    font-size: 12px;
    icon-size: 18px;
    font-family: "Verdana";
    background: rgb(49, 49, 49);
}

QTreeView::item
{
    border: none;
    height: 21px;
}

QTreeView QLineEdit
{
    font-size: 12px;
    border: 2px solid rgb(77, 117, 144);
    border-radius: 3px;
    padding: 0 2px;
    selection-background-color: rgb(81, 81, 81);
    font-family: "Verdana";
}

QFrame#line
{
    background: rgb(150, 150, 150);
}

QLabel
{
    color: rgb(150, 150, 150);
    font-size: 8pt;
}

QHeaderView
{
    background: rgb(49, 49, 49);
    color: transparent;
}