/* From http://rackerlabs.github.io/docs-rackspace/tools/rtd-tables.html */
/* override table width restrictions */
@media screen and (min-width: 767px) {

    .wy-table-responsive table td {
        /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
        white-space: normal !important;
    }

    .wy-table-responsive {
        overflow: visible !important;
    }
}

/* Set custom color for the navigation header bars */
.wy-side-nav-search {
    background-color: #1f1d1d;
}

.wy-nav-top {
    background: #1f1d1d;
}

/* Set custom color for "Note" box header bars */
.rst-content .note .admonition-title {
    background: #009dab;
}

/* Prepend custom font for heading text: "Spartan" */
@font-face {
    font-family: "Spartan";
    src: url("Spartan-Bold.ttf");
    font-style: normal;
    font-weight: 700;
}
/* NOTE: Prefer "Futura" if available, to match Ziva's style guide. Not a free font! */
h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend {
    font-family: "Futura","Spartan","Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
}

/* Prepend custom font for body text: "Nunito Sans" */
@font-face {
    font-family: "Nunito Sans";
    src: url("NunitoSans-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Nunito Sans";
    src: url("NunitoSans-Italic.ttf");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Nunito Sans";
    src: url("NunitoSans-Bold.ttf");
    font-style: normal;
    font-weight: 700;
}
/* NOTE: Prefer "Avenir" if available, to match Ziva's style guide. Not a free font! */
body {
    font-family: "Avenir","Nunito Sans","Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
}
